export(MonthlyAnnualGoF)
export(RegionalGoF)
export(SWE_CSV_IHA)
export(SiteGoF)
export(calculateStatsDiffs)
export(calculateStatsGroups)
export(getEmptyResultArrayNWCStats)
export(getScenarioSites)
export(getSupportedStatNames)
export(getWFSFieldAsNumeric)
export(nameStatsArray)
export(nse)
export(nselog)
export(rmse)
export(rmsne)
export(rsr)
export(skew)
