export(FlowStats)
export(MonthlyAnnualGoF)
export(RegionalGoF)
export(SWE_CSV_IHA)
export(SiteGoF)
export(cv)
export(deseason)
export(getScenarioSites)
export(l7Q10)
export(l7Q2)
export(magnifSeven)
export(monthly.mean.ts)
export(nse)
export(nselog)
export(return_10)
export(rmse)
export(rsr)
export(sdev)
export(skew)
